@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "ArcadeClassic";
    src: local("ArcadeClassic"),
         url("/fonts/ARCADECLASSIC.TTF") format("ttf");
}
@font-face {
    font-family: "OPTIEdgarBold-Extended";
    src: local("OPTIEdgarBold-Extended"),
         url("/fonts/OPTIEdgarBold-Extended.otf") format("otf");
}
/*@font-face {
    font-family: "Futura LT";
    src: url('/fonts/Futura.ttf') format('ttf');
}*/
@import url('https://fonts.cdnfonts.com/css/futura-lt');
* {
    margin: 0;
    padding: 0;
}
body {
    height: 300vh;
    overflow-x: hidden;
}
nav:not(.logo) {
    /*position: absolute;
    top: 3%;
    left: 13%;*/
    list-style-type: none;
}
#nav {
    height: 11vh;
    background: transparent;
    position: fixed;
    top: 3%;
    right: 2%;
    z-index: 9999999;
}
ul, ul li {
    list-style-type: none;
}
#nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    color: #111111;
    text-decoration: none;
    margin: 20px;
    list-style-type: none;
    display: inline-block;
}
/*a:nth-child(4) {
    position: absolute;
    right: 200px;
    display: inline-block;
    color: #111;
}
a:nth-child(5) {
    position: absolute;
    right: 0;
    display: inline-block;
    background: #111;
    color: #F3F3F5;
    padding: 7px 15px;
    border-radius: 30px;
    margin-top: 10px;
}*/
.logo {
    font-family: 'OPTIEdgarBold-Extended', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #111111;
    /*margin: 2% 0 0 2%;*/
    position: absolute;
    top: 5%;
    left: 3%;
    display: inline-block;
    z-index: 999;
}
.border {
    width: 95%;
    height: 70vh;
    margin: 100px 0 0 0;
    border: 2px solid #111111;
    position: relative;
    background: #F3F3F5;
}
/*.border-two {
    width: 35%;
    height: 70vh;
    border-left: 2px solid #111111;
    position: absolute;
    right: 0;
    top: 0;
}*/
.border h1 {
    font-family: 'OPTIEdgarBold-Extended', sans-serif;
    font-size: 100px;
    margin: 70px 0 0 50px;
    line-height: 118.4%;
}
.border a:not(.message) { 
    padding: 10px 30px;
    background: linear-gradient(180deg, #FF928B 0%, #FFAC81 100%);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 23px;
    line-height: 37px;
    text-align: center;
    color: #111111;
    text-decoration: none;
    margin: 60px 0 0 50px;
    display: inline-block;
    letter-spacing: -1px;
}
.message {
    /*width: 69px;
    height: 69px;
    border: 2px solid #111;*/
    margin: 0 0 -25px 30px;
    display: inline-block;
}
i.fa {
    border-radius: 60px;
    padding: 15px;
    border: 2px solid #111;
    color: #111;
    font-size: 20px;
}
i.fa:hover {
    border: none;
    background-color: #111;
    color: #F3F3F5;
}
/*.border:not(.border-two):not(.border-three) img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
}
.border:not(.border-two):not(.border-three) img:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.border:not(.border-two):not(.border-three) img:nth-child(4) {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}
.border-three img:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}
.e {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
}
.border-three {
    width: 35%;
    height: 70vh;
    border: 2px solid red;
    position: absolute;
    right: 35%;
    top: 0;
}*/
.group {
    margin-top: -20px;
}
.border-1 {
    width: 35%;
    height: 70vh;
    border-left: 2px solid #111111;
    position: absolute;
    right: 0;
    top: 0;
    /*background-image: url("image/group2.png");
    background-size: cover;*/
}
.border-2 {
    width: 35%;
    height: 70vh;
    border-right: 2px solid #111;
    position: absolute;
    right: 35%;
    top: 0;
}
.img__1 {
    position: absolute;
    left: 0;
    top: 0;
}
.img__2 {
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: rotate(-90deg);
}
.img__3 {
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: rotate(-90deg);
}
.img__4 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
.img__5 {
    position: absolute;
    right: 0;
    top: -1px;
    transform: rotate(90deg);
}
.img__6 {
    position: absolute;
    left: 0;
    top: -1px;
}
.img__7 {
    position: absolute;
    right: 0;
    top: -1px;
    transform: rotate(90deg);
}
.img__8 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-180deg);
}
.group img {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 238px;
    height: 151px;
    z-index: -999;
}
/*.Sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'OPTIEdgarBold-Extended', sans-serif;
}*/
.columns {
    height: 500px;
    border: 2px solid #111111;
    display: inline-block;
}
.columns:nth-child(1) {
    width: 32.5%;
    height: 500px;
    position: relative;
}
.columns:nth-child(2) {
    width: 31.5%;
    height: 400px;
    position: relative;
}
.columns:nth-child(3) {
    width: 35%;
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
}
/*@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}
 @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}*/
.img__9, .img__13, .img__17 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.img__10, .img__14, .img__18 {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    display: inline-block;
}
.img__11, .img__15, .img__19 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
}
.img__12, .img__16, .img__20 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.border-3 {
    width: 35%;
    height: 40vh;
    border-left: 2px solid #111;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("image/back.png");
    background-size: cover;
   /* background-color: #E8E7ED;*/
}
.border-4 {
    width: 35%;
    height: 40vh;
    border-left: 2px solid #111;
    border-right: 2px solid #111;
    position: absolute;
    right: 35%;
    top: 0;
    background: #F3F3F5;
    /*background-image: url("image/line.png");
    background-size: cover;*/
}
.border-5 {
    width: 95%;
    height: 50vh;
    margin: 0 50px 0 50px;
    border: 2px solid #111111;
    position: relative;
}
.second {
    width: 95%;
    height: 40vh;
    margin: 0 50px 0 50px;
    /*background: url("image/group3.png") no-repeat;*/
    position: relative;
    border-left: 2px solid #111;
    border-right: 2px solid #111;
    border-bottom: 2px solid #111;
}
@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-40%)
    }
}
.third-1 {
    visibility: visible;
}
.third-2 {
    animation: animation 1s ease-in-out forwards;
}
.menu {
    z-index: 999;
}
@keyframes animation {
    0% {
        transform: translateX(5000px);
    }
    100% {
        transform: translateX(0);
    }
}
.border-3 p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 200%;
    margin: 40px 0 0 60px;
    display: inline-block;
    width: 450px;
}
.go {
    cursor: pointer;
    line-height: 1;
    position: relative;
  }
.go:after {
    display: block;
    position: absolute;
    bottom: -5px;;
    right: 0; 
    width: 0;
    height: 2px;
    background-color: #111; 
    content: "";
    transition: width .45s ease-out;
}
.go:after { left: 50%; transform: translateX(-50%); }
.go:hover:after,
.go:focus:after {
    width: 100%;
}
.border-4 a {
    color: #111;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 430%;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    height: 350px;
    background: transparent;
    border: 2px solid #111;
    border-radius: 50%;
}
/*.project:hover {
    border: 2px solid #F3F3F5;
    background: #111;
}*/
/*.project:hover a {
    color: #F3F3F5;
    transition: .7s ease-in-out;
}*/
.border-4:hover {
    background: #111;
    transition: .7s ease-in-out;
}
.border-4:hover .project{
    border: 2px solid #F3F3F5;
    background: #111;
    transition: .7s ease-in-out;
}
.border-4:hover a{
    color: #F3F3F5;
    transition: .7s ease-in-out;
}
.third {
    height: 15vh;
    width: 100%;
    background: #F3F3F5;
    /*margin: 0 50px 0 50px;*/
    position: relative;
    border-radius: 0 0 70% 70% / 0 0 50px 50px;
    z-index: 100;
}
.four {
    height: 110vh;
    width: 100%;
    margin: -130px 0 0 0;
    position: relative;
    /*background: yellowgreen;*/
}
.six {
    height: 15vh;
    width: 100%;
   /* background: #F3F3F5;*/
    background: #111;
    margin: -30px 0 0 0;
    position: relative;
   /* border-left: 2px solid #111;
    border-right: 2px solid #111;
    border-bottom: 2px solid #111;*/
    border-radius: 70% 70% 0 0 / 50px 50px 0 0;
}
#k1 {
    visibility: visible;
}
#k2 {
    visibility: hidden;
}
#k3 {
    visibility: hidden;
}
#k4  {
    visibility: hidden;
}
.card1 {
    width: calc(75% - (30% * 2 - 500px));
    height: 50%;
    background: #fff;
    position: absolute;
    left: 8%;
    top: 30%;
    border: 1px solid #111;
    display: block;
}
.card0 {
    width: calc(75% - (30% * 2 - 500px));
    height: 10%;
    background: transparent;
    position: absolute;
    left: 8%;
    bottom: 20%;
    display: block;
    z-index: 999;
}
.card2, .card3, .card4 {
    width: calc(75% - (30% * 2 - 500px));
    height: 50%;
    background: #fff;
    position: absolute;
    left: 8%;
    top: 30%;
    border: 1px solid #111;
}
.card4 img:nth-child(2), .card3 img:nth-child(2), .card2 img:nth-child(2), .card1 img:nth-child(2) {
    height: 250px;
    width: 250px;
    position: absolute;
    right: 30px;
}
.code {
    height: 268px;
    width: 450px;
    position: absolute;
    left: 45px;
    top: 213px;
    background: url("image/code4.png") no-repeat center center;
    background-size: cover;
}
.four h1:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 40px 0 0 55px;
    color: #111;
    line-height: 60px;
    letter-spacing: -0.045em;
}
.four h1:nth-child(2) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 80px;
    line-height: 150px;
    letter-spacing: -0.045em;
    color: #111111;
    margin: -20px 0 0 50px;
}
.four h1:nth-child(3) {
    font-family: 'Poppins';
    font-size: 29px;
    margin: -20px 0 0 50px;
    width: 650px;
    font-weight: 400;
    letter-spacing: -0.045em;
    color: #111111;
}
/*.four button {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 15px;
    color: #111111;
    position: absolute;
    left: 50px;
    text-decoration: none;
    width: 170px;
    height: 60px;
    border: 2px solid #111;
    margin: 45px 0 0 0;
    border-radius: 100px;
    background: #fff;
}*/
.circle {
    position: absolute;
    bottom: 65px;
    right: 10%;
}
.circle div {
    width: 18px;
    height: 18px;
    background: transparent;
    border: 2px solid #111;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}
/*.circle div:nth-child(1) {
    background: #111;
}*/
.seven {
    height: 80vh;
    width: 100%;
    background: #111;
    margin: -50px 0 0 0;
    position: relative;
}
.Sphere {
    /*font-family: 'OPTIEdgarBold-Extended', sans-serif;*/
    font-family: 'ArcadeClassic', sans-serif;
    position: absolute;
    top: 40%;
    /*left: 30%;*/
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.eight {
    background: #F3F3F5;
    width: 100%;
    height: 80vh;
    z-index: 9999;
    position: relative;
}
.eight h1 {
    color: #111;
    font-family: 'Poppins', sans-serif;
   /* font-size: 70px;*/
    font-size: 400%;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /*margin: 100px 0 0 0;*/
    width: 95%;
    text-align: left;
    line-height: 70px;
}
.eight p {
    color: #111;
    font-family: 'Futura LT', sans-serif;
    font-size: 35px;
    font-weight: 500;
    position: absolute;
    top: 31%;
    left: 13%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.one {
    height: 100vh;
}
#circularcursor {
    background-color: transparent;
    border: 2px solid #111;    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 0;
    text-align: center;
    /*margin: -80px 0 0 -80px;*/
    cursor: pointer;
}
#circularcursor p {
    margin-top: 65px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.h {
    font-size: 150px;
    /*font-size: 550%;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /*line-height: 100px;*/
    line-height: 100%;
    text-align: center;
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.fixed {
    position: fixed;
}
#container {
    margin: 100px 0 0 0;
    display: inline-block;
}
.nine {
    height: 100vh;
    overflow: hidden;
    background: #111;
    width: 100%;
    position: relative;
}
.nine #circularcursor {
    z-index: -999;
}
.fixed {
    position: fixed;
}
/*.line {
    width: 100%;
    height: 55px;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    text-align: right;
    right: 2%;
    top: 0;
    margin: 0 -38px 0 0;
}*/
.source-code button {
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    right: 0;
    margin: 5% 11% 0 0;
    /*background: linear-gradient(
     to right,
     #01BAEF 20%,
     #01BAEF 30%,
     #40E0D0 70%,
     #40E0D0 80%
    );*/
    border: 1px solid #fff;
    /*padding: 1px 13px;*/
    padding: 1px 25px;
    border-radius: 22px;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
   /* background: linear-gradient(90deg, #EC7070 25.29%, #E2BA51 51.89%, #42C255 76.88%);*/
    background: transparent;
}
/*button:hover {
    color: #111;
    transition: 1s;
    background: #fff;
    border: 1px solid #fff;
}
button:not(:hover) {
    transition: 1s;
}*/
#copied {
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   /* position: absolute;
    right: 0;
    margin: 6% 17% 0 0;*/
    position: absolute;
    right: 0;
    margin: 5% 11% 0 0;
    display: none;
    animation: horizontal-shaking .5s ease-in-out forwards;
    border: 1px solid #fff;
    padding: 1px 25px;
    border-radius: 22px;
}
.code p {
    display: inline-block;
    color: #fff;
    font-family: 'Fira Code', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    left: 0;
    margin: 18% 0 0 8%;
    width: 400px;
}
.code img:nth-child(2) {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin: 6% 17% 0 0;
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}
@keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
.date {
    position: absolute;
    right: 4%;
    top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #111;
    border: 2px solid #111;
    border-radius: 20px;
    width: 70px;
    text-align: center;
}
.date:hover {
    color: #fff;
    background: #111;
    transition: .5s;
}
.date:not(:hover) {
    transition: .5s;
}
.point {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 3%;
}
.point a {
    width: 25px;
    height: 25px;
    border: 1px solid #111;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}
.active {
    background: #111;
    border: 1px solid #111;
}
.progress {
    width: 20%;
    height: 15px;
    position: absolute;
    bottom: 5%;
    margin-left: 7%;
    border-radius: 22px;
    border: 1px solid #111;
}
/*.progress2 {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: calc(4% + 1px);
    right: 73%;
    border-radius: 22px;
    background: #111;
    z-index: 999;
}*/
.progress:after {
    content: "";
    background: #111;
    position: absolute;
    height: 15px;
    border-radius: 22px;
    animation: progress 3.5s linear infinite;
    width: 0;
}
@keyframes progress {
    0%   { width: 0; }
    25%  { width: 25%; }
    50%  { width: 50%; }
    75%  { width: 75%; }
    100% { width: 100%;}
}


.services {
    position: absolute;
    /*left: 20%;*/
    right: 10%;
    margin-top: 100px;
    margin-left: 100px;
}
.services h1 {
    font-size: 25px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.5;
    text-align: justify;
}
.services h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-top: 5px;
    line-height: 1.5;
    display: inline-block;
    text-align: justify;
}
.span__services {
    width: 70px;
    height: 5px;
    background: #00c0e8;
    position: absolute;
    margin-top: 20px;
}
.services h3 {
    color: #fff;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 70px;
   /*width: 350px;*/
    width: 25%;
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
}


.square {
    width: 60px;
    height: 60px;
    border: 3px solid #00c0e8;
    display: inline-block;
}
.services-block {
    position: absolute;
    margin-top: 110px;
   /* left: 850px;*/
   left: 42%;
}
.motion h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.motion h3 {
    color: #fff;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    width: 30%;
    line-height: 1.5;
    font-size: 15px;
}
.coding h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.coding h3 {
    color: #fff;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    /*width: 350px;*/
    width: 30%;
    line-height: 1.5;
    font-size: 15px;
}
.coding .square {
    margin-top: 50px;
}

.services2 {
    /*margin-top: 135px;*/
    margin-top: 110px;
    position: absolute;
    /*left: 1300px;*/
    left: 65%;
    text-align: justify;
}
.services2 h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.services2 h3 {
    color: #fff;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    width: 350px;
    line-height: 1.5;
    font-size: 15px;
}
.video {
    margin-top: 0px;
}
.video h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.video h3 {
    color: #fff;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 18px;
    /*width: 350px;*/
    width: 50%;
    line-height: 1.5;
    font-size: 15px;
}


.video .square {
    margin-top: 50px;
}
.motion .square:hover {
    transform: rotate(45deg);
    transition: 0.5s;
}
.motion .square:not(:hover) {
    transition: 0.5s;
}

.coding .square:hover {
    transform: rotate(45deg);
    transition: 0.5s;
}
.coding .square:not(:hover) {
    transition: 0.5s;
}

.design .square:hover {
    transform: rotate(45deg);
    transition: 0.5s;
}
.design .square:not(:hover) {
    transition: 0.5s;
}

.video .square:hover {
    transform: rotate(45deg);
    transition: 0.5s;
}
.video .square:not(:hover) {
    transition: 0.5s;
}

.services__item__icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00bfe7;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}
.services__item:hover .services__item__icon:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.services__item__icon {
    position: relative;
    height: 60px;
    width: 60px;
    text-align: center;
}
.services__item__icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00bfe7;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}
.services__item__icon img {
    margin-top: 12px;
}
.service {
    margin-top: 50px;
}
.mobile {
    position: absolute;
    top: calc( 5% + 5px);
    right: 9%;
    display: none;
}
.cross { 
    font-size: 40px;
    position: absolute;
    top: calc(4%);
    right: 8%;
    display: none;
}
.mobile img {
    width: 150%;
    height: 150%;
}
.hide__mobile {
    height: 100vh;
    width: 100%;
    background: blue;
    display: none;
}
.hide__menu {
    width: 100%;
    background: #fff;
    display: none;
    transform: translateX(-10000px);
    animation: hide .5s linear forwards;
    cursor: default;
    z-index: 100;
}
/*.visible__menu {
    width: 100%;
    background: #fff;
    display: none;
    transform: translateX(-10000px);
    animation: visible .5s linear forwards;
    cursor: default;
    z-index: 100;
}*/
.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.menu a {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 100%;
    color: #111;
    text-decoration: none;
    z-index: 999;
}
.links:after {
    position: absolute;
    top: 5px;
    left: -25px; 
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #00bfe7; 
    content: "";
    z-index: -999;
    transition: all .3s ease;
}
.skills:after {
    position: absolute;
    top: 5px;
    left: -25px; 
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #00bfe7; 
    content: "";
    z-index: -999;
    transition: all .3s ease;
}
.about:after {
    position: absolute;
    top: 5px;
    left: -25px; 
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #00bfe7; 
    content: "";
    z-index: -999;
    transition: all .3s ease;
}
.works:after {
    position: absolute;
    top: 5px;
    left: -25px; 
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #00bfe7; 
    content: "";
    z-index: -999;
    transition: all .3s ease;
}
.works:hover:after, .about:hover:after, .skills:hover:after, .links:hover:after {
    display: block;
    width: 120%;
}
.hide__mobile h1 {
    font-size: 100px;
    margin: 100px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.works, .about, .skills, .links {
    display: none;
}
.works {
    animation: hide__works .5s linear forwards;
}
.about {
    animation: hide__about .5s linear forwards;
}
.skills {
    animation: hide__skills .5s linear forwards;
}
.links {
    animation: hide__links .5s linear forwards;
}
@keyframes hide__works {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes hide__about {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes hide__skills {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes hide__links {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes hide {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes visible {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width: 1300px) {
    #nav {
        display: none;
    }
    /*.eight, .third, .four, .six,* .seven, */.nine {
        display: none;
    }
    .mobile {
        display: block;
    }
    .h {
        font-size: 400%;
    }
    .one {
        min-height: 120vh;
    }
    #circularcursor {
        z-index: -999;
        display: none;
    }
    .logo {
        font-family: 'Futura Lt', sans-serif;
        font-weight: 500;
        letter-spacing: 5px;
        font-size: 200%;
    }
    .hide__mobile {
        display: block;
    }
    .eight , .one, .four, .seven {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    html {
        scroll-snap-type: y mandatory;
    }
    .eight p {
        position: absolute;
        top: 10%;
        left: 8%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .eight {
        height: 60vh;
    }
    .eight h1 {
        top: 60%;
        font-size: 200%;
        line-height: 30px;
    }
    /*.eight h1 {
        color: #111;
        font-family: 'Poppins', sans-serif;
        font-size: 400%;
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 95%;
        text-align: left;
        line-height: 70px;
    }*/
    .four .code, .four .date {
        display: none;
    }
    .card h1 {
        display: inline-block;
    }
    .four h1:nth-child(2) {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 200%;
        line-height: 70px;
        letter-spacing: -0.045em;
        color: #111111;
        margin: -20px 0 0 50px;
        display: inline-block;
    }
    .card1, .card2, .card3, .card4 {
        height: 35%;
        width: 80%;
    }
    .card1 h1:nth-child(3), .card2 h1:nth-child(3), .card3 h1:nth-child(3), .card4 h1:nth-child(3) {
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 200%;
        width: 60%;
        line-height: 35px;
        display: none;
    }

    .four h1:nth-child(1) {
        font-family: 'Poppins', sans-serif;
        font-size: 400%;
        font-weight: 800;
        width: 30%;
        position: absolute;
        top: 0;
        right: 10%;
        color: #111;
    }
    .four h1:nth-child(2) {
        font-size: 200%;
        display: none;
    }
    .progress {
        width: 20%;
        height: 15px;
        position: absolute;
        bottom: 5%;
        left: 1%;
        border-radius: 22px;
        border: 1px solid #111;
    }
    .Sphere {
        font-family: 'ArcadeClassic', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 100%;
    }
    .services2 {
        margin-top: 100%;
        position: absolute;
        left: 55%;
        text-align: justify;
    }
    .services-block {
        position: absolute;
        margin-top: 100%;
        /* left: 850px;*/
        left: 22%;
    }
    .seven {
        height: 80vh;
        width: 100%;
        background: #111;
        margin: -50px 0 0 0;
        position: relative;
    }
    .card4 img:nth-child(2), .card3 img:nth-child(2), .card2 img:nth-child(2), .card1 img:nth-child(2) {
        height: 50%;
        width: 50%;
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        position: absolute;
        margin: 8% 0 0 8%;
    }
}